
<%= form_for @app do |f| %>

    <% if @app.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@app.errors.count, "error") %> prohibited
            this notification from being saved:
          </h2>
          <ul>
            <% @app.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :auth_key %><br>
      <%= f.text_field :auth_key %>
    </p>
    <p>
      <%= f.label :connections %><br>
      <%= f.text_area :connections %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>