<div class="container">
  <h3>Welcome</h3>
  <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
  <p><%= link_to 'Messages', messages_path %> </p>
  <p><%= link_to 'Notifications', notifications_path %> </p>
  <p><%= link_to 'Configurations', '/config/gcm/' %> </p>
</div>